<body>
    <div class="container-fluid mt-4">
        <button id="exportBtn" class="btn btn-primary float-right mt-2 mb-5">Export to Excel</button>
        <div class="table-responsive mx-auto">
            <table class="table table-bordered table-striped" id="mytable">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>User Role</th>
                        <th>Status</th>
                        <th>Is Current User</th>
                    </tr>
                </thead>
                <tbody id="userGridBody"></tbody>
            </table>
        </div>
    </div>
    <style>
        #exportBtn {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 5px;
            margin-right: 84px;
        }
    </style>
    <script>
        var apiUrl = "/User/FetchUsers";
        var accessToken = '@ViewBag.AccessToken';
        var users; // Declare a variable to store the fetched user data

        // Make an API request to the proxy endpoint
        $.ajax({
            url: apiUrl,
            type: 'GET',
            headers: {
                'Authorization': 'Bearer ' + accessToken,
                'Content-Type': 'application/json'
            },
            success: function (data) {
                // Store the fetched data in the users variable
                users = data.users;
                // Process the data and display it in a grid
                displayDataInGrid(users);
            },
            error: function (error) {
                console.error('Error fetching data from Zoho Books API:', error);
            }
        });

        function displayDataInGrid(users) {
            var gridBody = $('#userGridBody');

            // Clear previous rows
            gridBody.empty();

            // Iterate through users and create table rows
            for (var i = 0; i < users.length; i++) {
                var rowHtml = '<tr>' +
                    '<td>' + users[i].user_id + '</td>' +
                    '<td>' + users[i].name + '</td>' +
                    '<td>' + users[i].email + '</td>' +
                    '<td>' + users[i].user_role + '</td>' +
                    '<td>' + users[i].status + '</td>' +
                    '<td>' + users[i].is_current_user + '</td>' +
                    '</tr>';

                // Append the row to the tbody
                gridBody.append(rowHtml);
            }
            $('#mytable').DataTable();
        }

        // Add an event listener for the export button
        $('#exportBtn').on('click', function () {
            exportToExcel();
        });

        function exportToExcel() {
            // Check if user data is available
            if (!users) {
                console.error('No data available for export.');
                return;
            }

            // Create a new Workbook
            var wb = XLSX.utils.book_new();
            var ws = XLSX.utils.json_to_sheet(users);

            // Add the worksheet to the Workbook
            XLSX.utils.book_append_sheet(wb, ws, 'Users');

            // Save the Workbook as an Excel file
            XLSX.writeFile(wb, 'users.xlsx');
        }
    </script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</body>
